{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>A JS package which generates unique combinations of hinglish words. 
      <br> Next time you want to share a unique id, you might as well share <br> <mark>42-roti-kapda-makaan</mark>!
    </p>
  </div>
  <div id="action-buttons">
    <a class="button outline big" href="https://github.com/jeblister/kube/releases" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">Download</a> <a class="button outline big" href="https://github.com/jeblister/kube" onclick="_gaq.push(['_trackEvent', 'kube', 'github']);">View on Github</a>
    <p>Zip-archive, includes all the source and site example files</p>
  </div>
  <div class="row align-center gutters">
    <div class="col col-4 item push-middle">
      <div class="message" data-component="message" style="height: 50px;">
        13-garam-chai-amazing-plant
      </div>
    </div>
    <div class="col col-2 item" style="display: flex; justify-content: left;">
      <div>
        <a class="button primary big">Generate</a>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="row align-center gutters">
    <div class="col col-4 item" style="display: flex; justify-content: center;">
      <div>
        <p>Made with ❤️ from India, for India!</p>
      </div>
    </div>
  </div>
  <div id="kube-features">
    <div class="row gutters">
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
        <h4>Easy to share ids for your users</h4>
        <p>Your application has created that order or that customer complaint, and now you want to share its unique id to them.</p>
        <p>Well you can skip sharing that <samp>UUID</samp> or any other combination of random characters like <mark>X Æ A-12</mark></p>
      </div>
      <div class="col col-4 item">
        <h4>Specifications</h4>
        <p>Pure JS, easy to use and simple interface. Simply download using <samp>npm</samp> and you are good to go.</p>
        <p>Each id represents 32 bit of information. Making the possibillities of ids upwards of 4 billion!</p>
      </div>
      <div class="col col-4 item">
        <h4>Impact</h4>
        <p>Your hinglish users can easily share back that id with you when needed. It also adds that fun element to your interaction which users might enjoy!</p>
        <p>Hinglish isn't really a language that's used everywhere. So your multilingial app won't benefit from it. In fact it might be a good idea to stick to english in that case!</p>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
